.mini-navbar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0px;
    height: 100%;
    width: 100%;
    background-color: white;
    overflow: hidden;
    transition: transform 1s linear;
}

.mini-navbar-item{
    font-family: "Proxima-Nova-Bold";
}

.mini-navbar-item:hover{
    text-decoration: underline 2px;
}

@media (max-width:600px){
    .mini-navbar-container{
        gap: 80px;
    }

    .mini-navbar-item{
        font-size: 28px;
    }
    
}

@media (min-width:600px) and (max-width:900px){
    .mini-navbar-container{
        gap: 90px;
    }

    .mini-navbar-item{
        font-size: 32px;
    }
    
}

@media (min-width: 900px){
    .mini-navbar-container{
        display: none;
    }
}