.mini-navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: hidden;
  transition: transform 1s linear;
  z-index: 2;
}

.mini-navbar-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.mini-navbar-item {
  font-family: "Proxima-Nova-Bold";
}

.mini-navbar-item:hover {
  text-decoration: underline 2px;
}

@media (max-width: 600px) {
  .mini-navbar-items-container {
    margin-top: 180px;
    gap: 60px;
  }

  .mini-navbar-item {
    font-size: 28px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .mini-navbar-items-container {
    margin-top: 180px;
    gap: 70px;
  }

  .mini-navbar-item {
    font-size: 32px;
  }
}

@media (min-width: 900px) {
  .mini-navbar-container {
    display: none;
  }
}
